In [1]:
l = []

l.extend([2,1])
l

[2, 1]

In [6]:
a, b = map(int, input().split())
a

10

In [3]:
zo = [1]*10
zo

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
aa ='a1'
row = int(aa[1])
col = int(ord(aa[0]))

In [5]:
a = [1,2]

a.extend((1,))
a

[1, 2, 1]

In [10]:
from itertools import combinations 

n, c = 5, 3

arr = list(combinations(list(range(1, n-1)), c-2))
a = [0,1].extend((1,))
a

In [11]:
from itertools import combinations 

comb = [0,1]
comb.extend((3,))
comb

[0, 1, 3]

In [13]:
[0] + list((1,2)) + [3]

[0, 1, 2, 3]

In [16]:
l = [1,2,3,4,5,100, 11]

l.index(max(l))

5

In [ ]:
from bisect import bisect_left, bisect_right

primes = [i for i in range(1000) if isprime(i)]

print(primes)

n = 13
if n in primes:
    print(-1)
    
# 가능한 정점수 2n+1 < h < n(n-1)/2
h = bisect_right(primes, 2n+1)

In [4]:
a = []
if a == False:
    print(1)

In [8]:
arr = [1,2,3]

def pa():
    arr[1] = 100
    
arr

[1, 2, 3]

In [2]:
a = "abcd"

a[::-1]

'dcba'

In [4]:
from math import sqrt
sqrt(100)

10.0

In [5]:
def find_min_power(a):
    digits = [int(d) for d in str(a)]  # 입력된 수의 각 자리수를 리스트로 변환
    min_digit = min(digits)  # 입력된 수의 가장 작은 자리수
    
    # 최소값을 만들기 위해 사용할 수 있는 거듭제곱 수를 계산
    power = 1
    while power < min_digit:
        power *= 2
    
    return power

# 예시 입력값
a = 60
result = find_min_power(a)
print("최소값:", result)

최소값: 1

In [6]:
sqrt(7)

2.6457513110645907

In [7]:
def smallest_square_number(n):
    result = 1
    # n의 소인수 분해를 통해 제곱수를 만들 정수를 구함
    for i in range(2, n + 1):
        if n % i == 0:
            exponent = 0
            while n % i == 0:
                n //= i
                exponent += 1
            # 각 소인수의 지수를 2로 만들어서 다시 곱함
            if exponent % 2 == 1:
                result *= i
    return result

# 예시 사용법
number = 60
result = smallest_square_number(number)
print(result)  # 출력: 2 (24 = 2^3 * 3, 가장 작은 정수는 2)

15

In [10]:
def prime_factors(n):
    factors = []
    i = 2
    while i <= n:
        if n % i == 0:
            factors.append(i)
            n = n // i
        else:
            i = i + 1
    return factors


prime_factors(10)

[2, 5]

In [12]:
5//2

2

In [13]:
10^3

9

In [16]:
1 ^ 2

3

In [17]:
from itertools import combinations

l = [1,2,3]

for i in combinations(l,2):
    print(sum(i))

3
4
5

In [ ]:
2**(3-1)

In [1]:
all = set()
all

set()

In [5]:
a,b,c = "a b c".split()
a,b,c

('a', 'b', 'c')